.app-tooltip-container {
  --background-color: #464646;
  --z-index: 1;
  height: auto;
  position: absolute !important;
  // display: block;

  z-index: var(--z-index);
  background-color: var(--background-color);
  color: white;
  border-color: #b7f3d6;
  border-radius: 4px;
  padding: 10px 10px 8px 10px;
  //   transition: all 0.1s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .tooltip-text {
    // display: flex;
    // align-self: center;
    // justify-self: center;
    text-align: center;
    color: white;
    font-size: 13px;
  }

  /*
    &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--background-color);
        position: absolute;
        left: calc(50% - 5px);
        top: 100%;
    }
    */
}

.theme-dark .tooltipcomponent {
  background-color: gray;
  box-shadow: 0 8px 8px black;
}

.theme-dark .tooltipcomponent::before {
  border-bottom: 5px solid gray;
}
