<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="h5-title">Thêm mới thể loại</h5>
        <div class="button">
            <button href="" class="btn btn-primary btn-sm" onclick="createCategory();">
                <i class="flaticon-381-save"></i>
                Lưu
            </button>
            <a href="" class="btn btn-danger btn-sm">
                <i class="flaticon-381-exit-1"></i>
                Thoát
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row w-100">
            <div class="col-md-9">
                <form>
                    <div class="mb-3">
                        <label for="" class="mb-2 title-control-edit">Tên thể loại</label>
                        <div class="form-group">
                            <input id="name" type="text" class="form-control input-default " >
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 title-control-edit">Ghi chú</label>
                        <div class="form-group">
                            <input id="note" type="text" class="form-control input-default " >
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 title-control-edit">Tiêu đề SEO</label>
                        <div class="form-group">
                            <input id="metaTitle" type="text" class="form-control input-default " >
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 title-control-edit">Từ khóa SEO</label>
                        <div class="form-group">
                            <input id="metaKey" type="text" class="form-control input-default " >
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 title-control-edit">Mô tả SEO</label>
                        <div class="form-group">
                            <input id="metaDesc" type="text" class="form-control input-default " >
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="" class="mb-2 title-control-edit">Thể loại cha</label>
                    <div id="cate" class="form-group">
                        <select id="idParent" class="form-control default-select">
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-2 title-control-edit" for="">Ảnh đại diện</label>
                    <div class="">
                        <input id="image" class="control-label" name="" type="file" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Image" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2 title-control-edit">Trạng thái hiển thị</label>
                    <div class="form-group">
                        <select id="active" class="form-control default-select">
                            <option value="1">Hiển thị</option>
                            <option value="0">Không hiển thị</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>